<!DOCTYPE html>
{% extends "BrianWeb/base.html"%}
{% load static %}

{% block body_block%}

  <section class="container-fluid" id="about-head">
    <div class="welcome welcome-about">
      <h1 class="text-left welcome-header">About BriBett Technologies</h1>
    </div>
    <div class="message text-left">
        <p>Get to Know BriBett</p>
    </div>
  </section>

  <section class="container-fluid" id="services">
    <div class="services-head">
      <h3 class="text-center">Services We Provide</h3>
    </div>
    <div class="line">
      <hr>
    </div>
    <div class="row">
      <div class="container col-md-4 col-sm-12 " id="services-web">
        <div class="web-image">
          <img src="" alt="">
        </div>
        <div class="web-header">
          <h4 class="text-center">Web App. Development</h4>
        </div>
        <div class="row web-content">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="{% static 'images/webDevelop1.png' %}" height="150px" width="150px">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-6">
            <p class="text-center">
              BriBett seeks develop websites and web systems that will make
              your dreams come true and be visible and made possible at any
              part of the world
            </p>
          </div>
        </div>
      </div>
      <div class="container col-md-4 col-sm-12" id="services-desktop">
        <div class="desktop-image">
          <img src="" alt="">
        </div>
        <div class="desktop-header">
          <h4 class="text-center">Desktop App. Development</h4>
        </div>
        <div class="row desktop-content">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="{% static 'images/deskApp.png' %}" height="150px" width="150px">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-6">
            <p class="text-center">
              BriBett seeks develop websites and web systems that will make
              your dreams come true and be visible and made possible at any
              part of the world
            </p>
          </div>
        </div>
      </div>
      <div class="container col-md-4 col-sm-12" id="services-mobile">
        <div class="mobile-image">
          <img src="" alt="">
        </div>
        <div class="mobile-header">
          <h4 class="text-center">Mobile App. Development</h4>
        </div>
        <div class=" row mobile-content">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="{% static 'images/services_mobile-development.png' %}" height="150px" width="150px">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-6">
            <p class="text-center">
              BriBett seeks develop websites and web systems that will make
              your dreams come true and be visible and made possible at any
              part of the world
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="container-fluid">
    <div class="row container">
      <div class="col-md-6 col-sm-12 aim">
        <div class="row">
          <div class="col-md-4 col-sm-12 objective-head">
            <h5>AIM</h5>
          </div>
          <div class="col-md-8 col-sm-12 objective-content">
            <p>
              BriBett seeks develop websites and web systems that will make
            your dreams come true and be visible and made possible at any
            part of the world
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 objective">
        <div class="row">
          <div class="col-md-4 col-sm-12 objective-head">
            <h5>OBJECTIVE</h5>
          </div>
          <div class="col-md-8 col-sm-12 objective-content">
            <p>
              BriBett seeks develop websites and web systems that will make
            your dreams come true and be visible and made possible at any
            part of the world
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
