<!DOCTYPE html>
{% extends "BrianWeb/base.html"%}
{% load static %}

{% block body_block%}

  <section class="container-fluid" id="portfolio-head">
    <div class="welcome welcome-portfolio text-left">
      <h1 class="welcome-header">work done at BriBett</h1>
    </div>
    <div class="message text-left">
        <p>Get A Test Of the Best Applications</p>
    </div>
  </section>

  <section class="container-fluid">
    <div class="text-center">
      <h3>Projects Done</h3>
    </div>
    <div class="line">
      <hr>
    </div>
    <div class="row">
      {% for port in portfolio %}
        {% for users in user %}
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="title">
              <h3 class="text-center">{{ port.portfolio_title }}</h3>
            </div>
            <div class="project_image">
              <img src="{{ port.project_image.url }}" height="200px" width="100%">
            </div>
            <div class="project-auther">
              <p>Project done by {{ users.user }}</p>
            </div>
            <div class="project-description">
              <p>{{ port.project_description }}</p>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
